/* Farben: #042A5A, #F4C4C4, #282B29, #7D2222, #DEB873, #D2D2D2, #388883 */

/*=============================================
                Allgemeines
===============================================*/
@font-face {
    font-family: openSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: athene;
    src: url("../fonts/Athene.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: openSans;
}

p {
    line-height: 3.5rem;
}

/*=============================================
                Header
===============================================*/

header {
    color: #042A5A;
    background-color: #EFE8D7;
    font-size: 1.8rem;
    padding-bottom: 5rem;
}

header h1 {
    font-size: 16rem;
    width: 100%;
    margin: 10rem auto 5rem auto;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid #042A5A;
}

header nav p {
    padding: 1rem 15rem;
}

.hr__temporarryFolio {
    width: 115rem;
    margin: 0rem auto;
    border-width: 0.2rem;
    border-style: solid none none none;
}

header figure {
    margin: 5rem auto;
    width: 33%;
}

header figure figcaption {
    padding: 2rem 0;
}

header figure img {
    width: 100%;
}

.fontFamily_athene {
    font-family: athene;
}

/*=============================================
                Main Release
===============================================*/
main {
    font-size: 1.8rem;
}

.section__release {
    background-color: #F4C4C4;
    padding-right: 10rem;
}

.p__umberRelease {
    padding: 10rem;
}


.section__release h2 {
    font-size: 16rem;
    font-family: athene;
    width: 50rem;
}

.article__release {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.p__article_release {
    width: 50rem;
}

.img__stemp {
    padding: 10rem 0;
    width: 10rem;
}

/*=============================================
                Main Works
===============================================*/

.section__works {
    background-color: #DEB873;
    color: #7D2222;
}

.p__numberWorks {
    text-align: right;
    padding: 10rem;
}

.h2__works {
    text-align: right;
    font-family: athene;
    font-size: 16rem;
}

.p__textWorks {
    padding-left: 10rem;
    padding-bottom: 15rem;
    width: 65rem;
}

/*=============================================
                Main Works Rodrigo
===============================================*/

.article__rodrigo {
    padding: 5rem 10rem;
    text-align: right;
}

.article__rodrigo h3 {
    position: relative;
    z-index: 1;
    text-align: left;
    font-family: athene;
    font-size: 6.6rem;
}

.article__rodrigo img {
    position: relative;
    z-index: 0;
    width: 74rem;
    bottom: 25rem;
}

/*=============================================
                Main Works Käthe
===============================================*/
.article__kaethe {

    padding: 5rem 10rem;
}

.article__kaethe h3 {
    text-align: right;
    font-family: athene;
    font-size: 6.6rem;
    width: 40rem;
    margin-left: 80rem;
}


.article__kaethe img {
    position: relative;
    bottom: 20rem;
    bottom: 200px;
    width: 74rem;
}