/* Farben: #042A5A, #F4C4C4, #282B29, #7D2222, #DEB873, #D2D2D2, #388883 */

/*=============================================
                Allgemeines
===============================================*/
@font-face {
    font-family: openSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: athene;
    src: url("../fonts/Athene.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: openSans;
}

p {
    line-height: 3.5rem;
}

/*=============================================
                Header
===============================================*/

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid #042A5A;
    font-size: 1.8rem;
    position: fixed;
    width: 100%;
    top: 0rem;
}

nav p {
    padding: 1rem 15rem;
}

header {
    color: #042A5A;
    background-color: #EFE8D7;
    font-size: 1.8rem;
    padding-bottom: 5rem;
    text-align: center;
}

header h1 {
    font-size: 16rem;
    font-family: athene;
    width: 115rem;
    margin: 0rem auto;
    border-bottom: #042A5A solid 0.2rem;
    padding-top: 10rem;
}

header figure {
    margin: 5rem auto;
    width: 33%;
}

header figure figcaption {
    padding: 2rem 0;
}

header figure img {
    width: 100%;
}

.fontFamily_athene {
    font-family: athene;
}

.span__tempo:before {
    content: "";
    display: inline-block;
    width: 20rem;
    height: 0.2rem;
    bottom: 5rem;
    background: #042A5A;
    position: relative;
}


/*=============================================
                Main Release
===============================================*/
main {
    font-size: 1.8rem;
}

.section__release {
    background-color: #F4C4C4;
    padding-right: 10rem;
}

.p__numberRelease {
    padding: 10rem;
}


.section__release h2 {
    font-size: 16rem;
    font-family: athene;
    width: 50rem;
}

.article__release {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.p__article_release {
    width: 65rem;
}

.img__stemp {
    padding: 10rem 0;
    width: 10rem;
}

/*=============================================
                Main Works Table
===============================================*/

div {
    margin-left: 28rem;
    text-align: right;
    width: 65rem;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-top: 0.1rem solid black;
}

tr {
    border-bottom: 0.1rem solid black;
}

td {
    font-size: 1.4rem;
    padding: 50px;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
}

.td__first {
    font-size: 2rem;
    text-align: left;
    padding-left: 0.5rem;
}

.td__second {
    width: 22rem;
    padding-right: 0rem;
}

caption {
    padding-top: 10rem;
    text-align: right;
    letter-spacing: 0.1rem;
}

/*=============================================
                Main Works
===============================================*/

.section__works {
    background-color: #DEB873;
    color: #7D2222;
}

.p__numberWorks {
    text-align: right;
    padding: 10rem;
}

.h2__works {
    text-align: right;
    font-family: athene;
    font-size: 16rem;
}

.p__textWorks {
    padding-left: 10rem;
    padding-bottom: 15rem;
    width: 65rem;
}

/*=============================================
                Main Works Rodrigo
===============================================*/

.article__rodrigo {
    padding: 5rem 10rem;
    text-align: right;
}

.article__rodrigo h3 {
    position: relative;
    z-index: 1;
    text-align: left;
    font-family: athene;
    font-size: 6.5rem;
}

.article__rodrigo img {
    position: relative;
    z-index: 0;
    width: 74rem;
    bottom: 25rem;
}

/*=============================================
                Main Works Käthe
===============================================*/
.article__kaethe {
    padding: 5rem 10rem;
}

.article__kaethe h3 {
    text-align: right;
    font-family: athene;
    font-size: 6.6rem;
    width: 40rem;
    margin-left: 80rem;
}

.article__kaethe img {
    position: relative;
    bottom: 20rem;
    bottom: 200px;
    width: 74rem;
}

/*=============================================
                Main Works Victor
===============================================*/

.article__victor {
    padding: 5rem 10rem;
    text-align: right;
}

.article__victor h3 {
    position: relative;
    z-index: 1;
    text-align: left;
    font-family: athene;
    font-size: 6.5rem;
}

.article__victor img {
    position: relative;
    z-index: 0;
    width: 74rem;
    bottom: 25rem;
}

/*=============================================
                Main Works Bored
===============================================*/

.article__bored {
    padding: 5rem 10rem;
}

.article__bored h3 {
    text-align: right;
    font-family: athene;
    font-size: 6.6rem;
    width: 40rem;
    margin-left: 80rem;
}

.article__bored img {
    position: relative;
    bottom: 20rem;
    bottom: 200px;
    width: 74rem;
}

/*=============================================
                Footer
===============================================*/
footer {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    background-color: #D2D2D2;
    color: #388883;
}

.h2__Footer {
    font-size: 16rem;
    font-family: athene;
}

.p__textFooter {
    align-self: center;
    width: 32rem;
}

.p__numberFooter {
    padding: 10rem;
}

footer ul {
    align-self: flex-end;
    text-align: right;
    list-style-type: none;
    padding: 10rem;
    line-height: 3.5rem;
}

footer ul li a {

    text-decoration: none;
    color: #388883;
}